examples/mnist/data
examples/mnist/snapshots*

examples/cifar10/data
examples/cifar10/snapshots

examples/ijulia/ilsvrc12/model
*-checkpoint.ipynb

examples/unsupervised-pretrain/denoising-autoencoder/finetune
examples/unsupervised-pretrain/denoising-autoencoder/randinit
examples/unsupervised-pretrain/denoising-autoencoder/pretrain-*

docs/_build

*.so
*.pyc

src/cuda/kernels/*
!src/cuda/kernels/*.cu
!src/cuda/kernels/*.impl
!src/cuda/kernels/Makefile
*~
\#*\#
.\#*
